## STATIC CONFIG (restart traefik to update)
global:
  checkNewVersion: true
log:
  level: DEBUG
  # TODO: Forward this to Grafana instance once setup
  #filePath: "/var/logs/traefik/log-base.log"
accessLog:
  filePath: "/var/logs/traefik/access.log"
api:
  dashboard: true

# enable ping so the `traefik healthcheck` works
ping: {}

providers:
  docker:
    exposedByDefault: false
    watch: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

# listen on 80/443, and redirect all 80 to 443 via 301
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
