# Folder that holds certificates
certs/
concourse-ci/keys/

# Ignore traefik log files
reverse-proxy-traefik/logs/*.log

# Ignore pipeline helper scripts since they might contain secrets
concourse-ci/scripts/
