# Folder that holds certificates
certs/
concourse-ci/keys/

# Ignore traefik log files
reverse-proxy-traefik/logs/*.log

# Ignore traefik authentication files but keep the Folder
reverse-proxy-traefik/auth/**
!reverse-proxy-traefik/auth/.gitkeep

# Ignore pipeline helper scripts since they might contain secrets
concourse-ci/scripts/

# Komodo secrets and data
komodo/.env
komodo/data/
komodo/backups/

# Registry secrets
container-registry/.env

# Grafana secrets
grafana-oss-stack/.env


# MacOS stuff
.DS_Store

# Dotenv
.env
*.secrets.env

# Firefly-iii database bind mount
firefly-iii/database/**
!firefly-iii/database/.gitkeep
