apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: false
    uid: tempo
    jsonData:
      httpMethod: POST
      tracesToLogs:
        datasourceUid: 'loki'
        filterByTraceID: true
        mapTagNamesEnabled: true
      serviceMap:
        datasourceUid: 'prometheus'
      search:
        hide: false
