version: '3'

services:
  concourse-db:
    image: postgres:14-bullseye@sha256:230c8fb46b449f08ba70dd5b4d28df778e162ccc467d35500d50ae2e785da07b
    restart: unless-stopped
    environment:
      POSTGRES_DB: concourse
      POSTGRES_USER: concourse_user
      POSTGRES_PASSWORD: concourse_pass
    volumes:
      - type: volume
        source: pgconcoursedata
        target: /var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    networks: 
      - database
    # No outbound traffic, incoming only from web node 
    # https://concourse-ci.org/postgresql-node.html#db-resource-utilization

  concourse-web:
    image: concourse/concourse:7.14.3@sha256:ff7ee75c781c2e073296b915f0612f4bda8d9267ded13678b6d6217b1f7b4369
    restart: unless-stopped
    command: web
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=thinknetwork"
      - "traefik.http.routers.concourse-web.rule=Host(`concourse.thinkcenter.dev`)"
      - "traefik.http.routers.concourse-web.entrypoints=websecure"
      - "traefik.http.routers.concourse-web.tls=true"
      - "traefik.http.services.concourse-web.loadbalancer.server.port=8080"
        #      - "traefik.tcp.routers.concourse-web.tls.passthrough=true"
        #      - "traefik.tcp.routers.concourse-web.rule=HostSNI(`concourse.thinkcenter.dev`)"
        #      - "traefik.tcp.routers.concourse-web.entrypoints=websecure"
        #      - "traefik.tcp.services.concourse-web.loadbalancer.server.port=8443"
    links: 
      - "concourse-db"
    depends_on: 
      - "concourse-db"
    #ports: 
    #  - "8080:8080"
    volumes:
      - "./keys/web:/concourse-keys"
      - "./certs:/opt/mtls/certs"
    environment:
      CONCOURSE_EXTERNAL_URL: https://concourse.thinkcenter.dev
      CONCOURSE_POSTGRES_HOST: concourse-db
      CONCOURSE_POSTGRES_USER: concourse_user
      CONCOURSE_POSTGRES_PASSWORD: concourse_pass
      CONCOURSE_POSTGRES_DATABASE: concourse
      CONCOURSE_ADD_LOCAL_USER: niceplace:Passw0rd
      CONCOURSE_MAIN_TEAM_LOCAL_USER: niceplace
        #      CONCOURSE_TLS_CA_CERT: /opt/mtls/certs/wildcard.thinkcenter.dev.client-cert.pem
        #      CONCOURSE_TLS_KEY: /opt/mtls/certs/wildcard.thinkcenter.dev.key.pem
        #      CONCOURSE_TLS_CERT: /opt/mtls/certs/wildcard.thinkcenter.dev.cert.pem
        #      CONCOURSE_TLS_BIND_PORT: 8443
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    networks:
      - web
      - database
    # Outbound traffic to db, other web nodes (if present)
    # Inbound traffic from workers (port 2222), web UI & fly CLI
    # https://concourse-ci.org/concourse-web.html#web-resource-utilization

  concourse-worker:
    image: concourse/concourse:7.14.3@sha256:ff7ee75c781c2e073296b915f0612f4bda8d9267ded13678b6d6217b1f7b4369
    restart: unless-stopped
    command: worker
    stop_signal: SIGUSR2
    privileged: true
    depends_on: 
      - "concourse-web"
    links: 
      - "concourse-web"
    volumes: 
      - "./keys/worker:/concourse-keys"
    environment:
      CONCOURSE_TSA_HOST: "concourse-web:2222"
      # enable DNS proxy to support Docker's 127.x.x.x DNS server
      CONCOURSE_CONTAINERD_DNS_PROXY_ENABLE: "true"
      # https://github.com/concourse/concourse-docker/issues/74#issuecomment-925058923
      CONCOURSE_RUNTIME: "containerd"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    networks:
      - web
    # Outbound traffic: the web, web node, other workers other workers if P2P streaming enabled
    # Inbound traffic: from web node (7777 and 7788), other workers if P2P streaming enabled
    # https://concourse-ci.org/concourse-worker.html#worker-resource-utilization


networks:
  web:
    external: true
    name: thinknetwork
  database:
    external: true
    name: concourse-internal

volumes:
  pgconcoursedata:
