services:
  ihatemoney:
    image: ihatemoney/ihatemoney@sha256:5ff0b55411f5abb98539f571af56059608dff64f0dab8509f9ebddd8aacce4bd
    container_name: ihatemoney
    restart: unless-stopped
    volumes:
      - ./database:/database
    environment:
      - DEBUG=False
      - ACTIVATE_DEMO_PROJECT=False
      - ACTIVATE_ADMIN_DASHBOARD=True
      - ADMIN_PASSWORD=
      - ALLOW_PUBLIC_PROJECT_CREATION=True
      - BABEL_DEFAULT_TIMEZONE=America/Toronto
      - SESSION_COOKIE_SECURE=True
      - SHOW_ADMIN_EMAIL=True
      - SQLALCHEMY_DATABASE_URI=sqlite:////database/ihatemoney.db
      - SQLALCHEMY_TRACK_MODIFICATIONS=False
      - APPLICATION_ROOT=/
      - ENABLE_CAPTCHA=False
      - PORT=8000
      - PUID=1000
      - PGID=1000
      - SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_SECRET_KEY
      - MAIL_DEFAULT_SENDER=Budget manager <admin@example.com>
    networks:
      - thinknetwork
    labels:
      - traefik.enable=true
      - traefik.http.routers.ihatemoney.rule=Host(`ihatemoney.thinkcenter.dev`)
      - traefik.http.routers.ihatemoney.entrypoints=websecure
      - traefik.http.services.ihatemoney.loadbalancer.server.port=8000
networks:
  thinknetwork:
    external: true
