version: "3"
services:
  container-registry:
    container_name: registry
    image: registry:2.8@sha256:a3d8aaa63ed8681a604f1dea0aa03f100d5895b6a58ace528858a7b332415373
    restart: unless-stopped
    environment:
      - "REGISTRY_LOG_LEVEL=debug"
      - "REGISTRY_HTTP_ADDR=0.0.0.0:5000"
      - "REGISTRY_HTTP_HOST=https://registry.thinkcenter.dev"
      - "REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin=['*']"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.container-registry.rule=Host(`registry.thinkcenter.dev`)"
      - "traefik.http.routers.container-registry.entrypoints=websecure"
      - "traefik.http.routers.container-registry.tls=true"
      - "traefik.http.services.container-registry.loadbalancer.server.port=5000"
    networks:
      - default
  container-registry-ui:
    image: joxit/docker-registry-ui:2.2.1-debian@sha256:19f4952324554f595e7f5dadd63fc94fd06245cc4a6e9d6afea2dd1c77f25c09
    restart: unless-stopped
    environment:
      - "NGINX_PROXY_PASS_URL=http://registry:5000" # Nginx can directly talk to the container, config that is not NGINX should be assumed to act client side
      - "REGISTRY_TITLE=Thinkcenter docker registry"
      - "DELETE_IMAGES=true"
      - "SHOW_CONTENT_DIGEST=true"
      - "SINGLE_REGISTRY=true"
    depends_on: ['container-registry']
    networks:
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.container-registry-ui.rule=Host(`registry-ui.thinkcenter.dev`)"
      - "traefik.http.routers.container-registry-ui.entrypoints=websecure"
      - "traefik.http.routers.container-registry-ui.tls=true"

networks:
  default:
    external: true
    name: thinknetwork
