# Taken from https://raw.githubusercontent.com/firefly-iii/firefly-iii/main/.env.example
# Note that the APP_KEY env variable will be handled entirely by Komodo as a secret and injected into the stack
# THis file is only here for reference purposes and WILL NOT BE USED

# The encryption key for your sessions. Keep this very secure.
# Change it to a string of exactly 32 chars or use something like `php artisan key:generate` to generate it.
# If you use Docker or similar, you can set this variable from a file by using APP_KEY_FILE
#
# Try to avoid special characters like #, < and > in your app key. This string does not need full entropy
# When in doubt, follow the link below and pick one.
#
# https://www.random.org/strings/?num=5&len=32&digits=on&upperalpha=on&loweralpha=on&unique=on&format=html&rnd=new
#
# If you are a fancy linux nerd like me, use this command:
#
# head /dev/urandom | LC_ALL=C tr -dc 'A-Za-z0-9' | head -c 32 && echo
#
#
# Define this password in a separate .app.secrets.env
APP_KEY=SomeRandomStringOf32CharsExactly
