name: Renovate

on:
  schedule:
    # Run every Wednesday at 10:00 UTC (05:00 AM EST / 04:00 AM EDT)
    - cron: '0 10 * * 3'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
